.category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 200px;

  padding: 1rem;

  background: var(--bg-white);
  border: none;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.category-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 14px rgba(255, 102, 0, 0.25);
  background-color: #f3f3f3; /* 🎨 fondo gris claro al hacer hover */
  border: 1px solid var(--primary-color); /* borde sutil para mayor contraste */
}


.category-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 0.75rem;
}

.category-name {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-black);
  margin-top: auto;
}
