/* Contenedor principal del botón flotante */
.floating-cart-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Estilos para el botón y la insignia (badge) */
:host ::ng-deep {
  .p-button.p-button-lg {
    background-color: var(--primary-color);
    border: none;
    width: 4rem;
    height: 4rem;
    box-shadow: var(--shadow-primary);
    transition: background-color 0.3s ease;
  }

  .p-button.p-button-lg:hover {
    background-color: var(--accent-hover);
  }

  .p-button .p-badge {
    background-color: var(--primary-black);
    color: var(--bg-white);
    font-weight: bold;
    min-width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    top: -0.5rem;
    right: -0.5rem;
  }
}

/* Contenido del panel lateral */
.cart-sidebar-content {
  display: block;
  height: 100%;
}
