@if (isButtonVisible) {
  <div class="floating-cart-container">
    <button
      pButton
      icon="pi pi-shopping-cart"
      class="p-button-rounded p-button-lg"
      (click)="toggleSidebar()"
      pBadge
      [value]="cartCount"
      badgeClass="cart-badge"
    ></button>
  </div>
}

<p-sidebar
  [(visible)]="isSidebarVisible"
  position="right"
  [modal]="true"
  [dismissible]="true"
  [style]="{ width: '55rem' }"
>
  <ng-template pTemplate="content">
    <div class="cart-sidebar-content" (click)="$event.stopPropagation()">
      <app-cart (closeSidebar)="isSidebarVisible = false"></app-cart>
    </div>
  </ng-template>
</p-sidebar>
